<%- include('../../port/layout-top.ejs') %> 
<%- include('./book-info.ejs') %> 
<%- include('./comments.ejs') %>
</main>
<footer>
<%- include('../../port/navigation.ejs') %>
<%- include('../../port/layout-bottom.ejs') %>

<script src="/public/index.js"></script>
</body>
</html>